In [1]:
#importing numpy and pandas libraries
import numpy as np
import pandas as pd

In [26]:
#the url should be loaded so the contents can be read
url= 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_dt = pd.read_csv(url)

In [28]:
fuel_dt.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

# Question1

In [20]:
A=[1,2,3,4,5,6]
B=[13,21,34]

In [21]:
A.extend(B)

In [22]:
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [23]:
A_B = A

In [24]:
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

# Question2

In [25]:
#an identity matrix can be created in python by executing the code 
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# Qestion3

In [29]:
#displaying the various fuel type to get the lowest average fuel cost per unit burned
fuel_dt.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

# Question4

In [31]:
#standard deviation
std_deviation = fuel_dt['fuel_mmbtu_per_unit'].std()
print('the standard deviation is: ' + str(std_deviation))

the standard deviation is: 10.600220307806886

In [32]:
#percentile
percentile = fuel_dt['fuel_mmbtu_per_unit'].quantile(q=0.75, interpolation='linear')
print('the 75% quantile is:' + str(percentile))

the 75% quantile is:17.006

# Question5

In [33]:
#computing the skewness of fuel quantity burned
fuel_dt['fuel_qty_burned'].skew()

15.851495469109503

In [34]:
#computing the kurtosis of the fuel quantity burned
fuel_dt['fuel_qty_burned'].kurt()

651.3694501337732

# Question6

In [50]:
#knowing the null values using the isnull statement
#and the sum function to get the overall number of null values
null = fuel_dt['fuel_unit'].isnull().sum()

In [48]:
total_value = fuel_dt['record_id'].count()
total_value1 = fuel_dt['fuel_unit'].count()

In [49]:
total_value

29523

In [51]:
#missing values percentage
percentage = (null/total_value) * 100
percentage

0.609694136774718

In [52]:
#for the fuel_unit
percentage1 = (null/total_value1) * 100
percentage1

0.6134342091810653

# Question7

A feature can be categorical or numerical, with the values of the feature with NAN, which is categorical, and for this datatype, the type of imputation works by filling the missing data.

# Question8

In [39]:
# comparing the correlation of others in their numeric features when compared to the fuel cost burned
# then taking absolute value to express the nature of the correlation

fuel_dt.corr().loc['fuel_cost_per_unit_burned'].abs().sort_values()

fuel_cost_per_mmbtu             0.000437
fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_qty_burned                 0.018535
utility_id_ferc1                0.037863
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

fuel_mmbtu_per_unit and fuel_cost_per_unit_delivered

# Question9

In [40]:
#using groupby function to enable me calculate the mean across the years
years_fuel = fuel_dt.groupby(['report_year', 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()

In [42]:
#making use of the loc label to extract the years the fuel type needed
yr_1994, yr_1998 = years_fuel.loc[[1994, 1998], 'coal']

#finding the fuel type (coal) for the percentage change in the two years 
percent_change = ((yr_1998 - yr_1994)/ yr_1994) * 100

In [43]:
print (percent_change)

-20.56765451826049

# Question10

In [45]:
# making use of the groupby function to merge the fuel cost delivered and year
#to get the average cost delivered per year i will take the mean
#sorting from highest to the lowest
fuel_dt.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64